# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/x64
/Debug
*/Debug
*/x64
.vs
*/bin
*/obj
/packages/*
/OpenSceneGraph-Data-3.0.0/*
/OpenSceneGraph-Data/*
/OpenSceneGraph-Data-3.4.0.zip
*.log
*/*.log
*.dll
*.lib
*.pdb
/cef
